{
	"root": true,
	"overrides": [
		{
			"extends": [
				"eslint:recommended",
				"plugin:@typescript-eslint/recommended"
			],
			"files": ["*.ts"],
			"parserOptions": {
				"createDefaultProgram": true,
				"project": ["tsconfig.json"]
			}
		}
	]
}
