# we only want to publish the @types/ and js/ directories to npm
# we also want to include markdown documents so that the npm repo has some documentation
!@types/
!js/
!*.md

# don't publish anything else
**/*
